.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border: 1px solid red; */
  }
  
  .section {
    margin-top: 5rem;
  }
  .justify-center{
    justify-content: center;
  }
  .align-center{
    align-items: center;
  }
  .flex{
    display: flex;
  }
  .column{
    flex-direction: column;

  }

  .wrap{
    flex-wrap: wrap;
  }
  /* xs */
@media (min-width: 475px) {
    .container {
      max-width: 475px;
    }
  }
  
  /* sm */
  @media (min-width: 640px) {
    .container {
      max-width: 640px;
    }
  }
  
  /* md */
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  /* lg */
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  
    .section {
      margin-top: 10rem;
    }
  }
  
  /* xl */
  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
    }
  }
  
  /* 2xl */
  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
    }
  }
  /* Media Queries*/
/* @media (min-width: 475px) {}*/
  
  /* sm */
  /* @media (min-width: 640px) {} */
  
  /* md */
  /* @media (min-width: 768px) {} */
  
  /* lg */
  /* @media (min-width: 1024px) {} */
  
  /* xl */
  /* @media (min-width: 1280px) {} */
  
  /* 2xl */
  /* @media (min-width: 1536px) {} */